.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #f0f7dc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 5vmin);
  color: #463c33;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* */
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    text-align: center;
    justify-content: center;
}

input[type=text] {
  width: 20em;
  box-sizing: border-box;
  border: 0.1em solid #ccc;
  border-radius: 0.2em;
  font-size: calc(10px + 0.7vmin);
  background-color: white;
  /*background-image: url('searchicon.png');*/
  background-position: 0.5em 0.5em; 
  background-repeat: no-repeat;
  padding: 0.5em 1em 0.5em 2em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60em;
}

img {
  margin-top:10rem;
}