.navBar{
    background-color: #789626;
    font-size: calc(10px + 0.7vmin);
    min-height: 1vm;
    width: 100%;
    align-self: center;
    border: 0.1em solid rgb(167, 167, 167);
    justify-items: center;
}

.navBar-logo{
    display: flex;
    height: 2em;
    width: 2em;
    pointer-events: none;
    margin-top: 0em;
    align-items:flex-start;
    float: left;
    padding: 1em 0.5em 0.5em 1em ;
    vertical-align:center;
}

.navBar-search{
    float: left;
    padding: 1em 0em 0.5em 0.5em;
}
