
  .App-logo {
    height: 30vmin;
    pointer-events: none;
    margin-top:7rem;
  }
  
  /*@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }*/
  
  /* */
  p{
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0.5em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  
      text-align: center;
      justify-content: center;
  }
  
  